<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239262036236-3qq2ahf5oh9u812b2oiohkkhvpfld7av.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239262036236-3qq2ahf5oh9u812b2oiohkkhvpfld7av</string>
	<key>API_KEY</key>
	<string>AIzaSyCBhrErGGzOLfAbdb-v0pMpze1xajKfNuY</string>
	<key>GCM_SENDER_ID</key>
	<string>239262036236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>minho.CarrotMarket</string>
	<key>PROJECT_ID</key>
	<string>carrotmarket-7926b</string>
	<key>STORAGE_BUCKET</key>
	<string>carrotmarket-7926b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239262036236:ios:2f6dbfa656f6ced0ab9929</string>
</dict>
</plist>